<!DOCTYPE html>
<html>
 <head>
  <title>huohua works collection</title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <meta content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=3.0" id="viewport" name="viewport" />
  <meta content="#ffffff" name="theme-color" />
  <link rel="icon" href="/camera.ico" type="image/x-icon"/>
  <link href="/bundle.css" rel="stylesheet" type="text/css">
  <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
  <link href="https://cdn.bootcss.com/fancybox/3.5.7/jquery.fancybox.min.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/fancybox/3.5.7/jquery.fancybox.min.js"></script>
 </head>
 <style>
   html,body{margin:0;padding:0}h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,cite,code,del,dfn,em,img,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,input,textarea,legend,button,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:normal;font-style:normal;font-size:100%;line-height:1;font-family:inherit}table{border-collapse:collapse;border-spacing:0}ol,ul{list-style:none}q:before,q:after,blockquote:before,blockquote:after{content:""}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0;-ms-interpolation-mode:bicubic}nav,section,aside,article,figure,header,footer,hgroup{display:block;clear:both}a{text-decoration:none}nav ul,footer ul{list-style-type:none}html{font-size:14px;line-height:1}input::-webkit-input-placeholder{color:#c0c4c8}
 </style>
 <body class="show locale-zh-CN" id="user_sites">
  <div class="product-sxl" data-id="11630190" id="s-page-container">
   <div data-hypernova-key="SiteBootstrapper" data-hypernova-id="e885a2e7-c194-4bb5-8bbc-62d3619dbd20" data-hypernova-emotion-id="">
    <div data-reactroot="">
     <div id="s-content" class="s-variation-default  s-font-heading-default s-font-title-default s-font-body-default s-entrance-mask" lang="zh-CN">
      <div class="page-wrapper">
       <div id="prerendered-inline-theme-html"></div>
       <ul style="display:block" class="slides s-page-1">
        <li class="slide s-section-1 s-first-visible-section" id="section-f_0b30bf2b-8d67-4433-bb27-2d5af44278b0">
         <div class="waypoint"></div><a class="section-anchor"></a>
         <div>
          <div class="s-bg-image s-bg-light-text s-new-title-section s-section s-section-full " style="background-repeat:no-repeat;background-size:cover;background-color:transparent;background-position:50% 50%;background-image:url(https://rcer666.cn/main.jpeg)" data-react-style="{&quot;backgroundRepeat&quot;:&quot;no-repeat&quot;,&quot;backgroundSize&quot;:&quot;cover&quot;,&quot;backgroundColor&quot;:&quot;transparent&quot;,&quot;backgroundPosition&quot;:&quot;50% 50%&quot;}">
           <div class="container">
            <div class="sixteen columns">
             <div class="media-wrapper ">
              <div class="s-component s-media ">
               <div>
                <div class="s-component-content">
                 <div>
                  <img src="https://rcer666.cn/blank.png" alt="" title="" class="crop-default" data-description="" />
                 </div>
                </div>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div></li>
        <li class="slide s-section-2" id="section-f_9a343e16-48de-475f-9a5d-649eb5d47956">
         <div class="waypoint"></div><a class="section-anchor"></a>
         <div class="lazyload   s-gallery-section s-section" data-react-style="{}">
          <div class="container">
           <div class="columns sixteen">
            <div class="s-title-group  ">
             <div class="s-title ">
              <div class="s-component s-text">
               <h2 class="s-component-content s-font-title"><p style="font-size: 100%;">平面作品</p></h2>
              </div>
             </div>
             <div class="s-subtitle">
              <div class="s-component s-text">
               <!-- <h4 class="s-component-content s-font-heading"><p>食品静物</p></h4> -->
              </div>
             </div>
            </div>
           </div>
           <div class="columns sixteen" style="transition:none">
            <div class="s-gallery s-gallery-columns-1">
             <div>
              <div>
                <% (1..47).each do |idx| %>
                  <% url = "https://rcer666.cn/#{idx}.jpg" %>
                  <div class="s-component s-gallery-item " data-sorting-index="<%= idx - 1 %>">
                   <div>
                    <div class="s-component-content">
                     <div class="image-wrapper">
                       <div>
                         <a href="<%= url %>" data-fancybox="gallery">
                           <img width="500" height="500" src="<%= url %>"/>
                         </a>
                       </div>
                     </div>
                    </div>
                   </div>
                  </div>
                <% end %>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div></li>
        <li class="slide s-section-4" id="section-f_daa24583-236b-404d-af7f-1b1beac3e1c0">
         <div class="waypoint"></div><a class="section-anchor"></a>
         <div>
          <div class="lazyload  s-bg-gray s-new-media-section s-section s-media-section  " data-react-style="{}">
           <div class="container">
            <div class="columns sixteen">
             <div class="s-title-group  ">
              <div class="s-title ">
               <div class="s-component s-text">
                <h2 class="s-component-content s-font-title"><p>视频作品</p></h2>
               </div>
              </div>
             </div>
            </div>
            <div class="s-mh s-layout-normal s-repeatable">
             <div>
              <% %w(//player.bilibili.com/player.html?aid=47162378&cid=82597627&page=1 //player.bilibili.com/player.html?aid=47162792&cid=82598525&page=1
                //player.bilibili.com/player.html?aid=47162845&cid=82598580&page=1 //player.bilibili.com/player.html?aid=47162764&cid=82598468&page=1
                //player.bilibili.com/player.html?aid=47162720&cid=82597953&page=1 //player.bilibili.com/player.html?aid=47162986&cid=82598818&page=1).each_with_index do |url, idx| %>
                <div data-sorting-index="<%= idx - 1 %>" class=" s-repeatable-item">
                 <div class="clearfix">
                  <div class="sixteen columns  center">
                   <div class="s-item-media-wrapper s-mhi ">
                    <div class="s-item-media-group">
                     <div class="s-component s-media ">
                      <div>
                       <div class="s-component-content">
                        <div class="s-video-content">
                         <div class="s-component s-async-wrapper">
                           <iframe src="<%= url %>" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
                         </div>
                        </div>
                       </div>
                      </div>
                     </div>
                    </div>
                   </div>
                  </div>
                 </div>
                </div>
              <% end %>
             </div>
            </div>
           </div>
          </div>
         </div></li>
       </ul>
       <div id="prerendered-inline-theme-html"></div>
      </div>
      <div id="strikingly-tooltip-container"></div>
      <div class="lazyload  s-bg-gray s-footer-section s-section " data-react-style="{}" style="margin-top: -100px !important;">
       <div class="container s-layout-grid s-layout-image">
        <div class="columns half-fixed img three">
         <div class="left-align s-footer-text">
          <div class="s-component s-image">
           <div>
            <div class="s-component-content">
             <div>
              <div class="s-ratio-box" style="max-width:300px;max-height:297px">
               <div class="s-ratio-fill" style="padding-bottom:99.00%"></div>
               <div>
                <img alt="" title="" data-description="" width="300" height="297" src="https://rcer666.cn/wechat.jpeg" />
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
        <div class="columns half-fixed three">
         <div class="left-align s-footer-text">
          <div class="s-component s-text">
           <div class="s-component-content s-font-body">
            <p><strong>联系我</strong></p>
            <p style="font-size: 100%;">+86 15988844730</p>
            <p>361606802@qq.com</p>
           </div>
          </div>
         </div>
        </div>
        <div class="columns float-right four half-fixed right-align"></div>
        <div class="has-copy-right">
         <div class="columns no-float sixteen">
          <div class="separate-line"></div>
         </div>
         <div class="columns no-float s-text-color-gray  sixteen">
          <div class="left-align s-footer-text">
           <div class="s-component s-text">
            <div class="s-component-content s-font-body">
             <p>&copy; 2019</p>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </body>
</html>
