<div class="live">
    <ul>
        <% @lives.each do |live_json, num| %>
            <% live = JSON.parse(live_json) %>
            <li>
                <a href="<%= live['url'] %>" target="_blank">
                    <img src="<%= live['img_url'] %>" alt="" />
                </a>
                <div class="mes">
                    <div class="nick"><%= live["name"] %></div>
                    <div class="platform"><%= live["platform"] %></div>
                    <div class="num"><%= convert_num(num) %></div>
                </div>
            </li>
        <% end %>
    </ul>
</div>
