<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="keyword" content="直播,直播平台,直播汇总,直播平台汇总,直播平台整合">
        <meta name="description" content="多个直播平台整合,多个直播平台汇总">
        <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
        <link href="/index.css" rel="stylesheet" type="text/css">
        <script src="/jquery-1.11.0.min.js" type="text/javascript"></script>
        <script src="/jquery.lazyload.min.js" type="text/javascript"/></script>
        <title>直播平台整合(斗鱼, 虎牙, 触手, 企鹅)</title>
    </head>
    <body>
        <div class="wrap">
            <div class="info-card">
              <!-- <a href="https://github.com/radiocontroller" target="_blank" title="github"><img src="https://github.com/favicon.ico" alt="" width="20"></a> -->
              <!-- <a href="http://blog.rcer.top" target="_blank" title="博客"><img src="http://blog.rcer.top/favicon.ico" alt="" width="20"></a>
              <a href="https://rc.rcer.top" target="_blank" title="航模网"><img src="https://rc.rcer.top/favicon.ico" alt="" width="20" style="border-radius: 1px;"></a> -->
              <span style="font-size: 14px; color: 555;">联系邮箱: 302643159@qq.com</span>
            </div>
            <div class="head">
                <ul class="head-nav">
                    <li class="<%= 'current' if '/' == request.path_info %>">
                        <a href="/">英雄联盟</a>
                    </li>
                    <li class="<%= 'current' if '/zjgame' == request.path_info %>">
                        <a href="/zjgame">主机游戏</a>
                    </li>
                    <li class="<%= 'current' if '/jdqs' == request.path_info %>">
                        <a href="/jdqs">绝地求生</a>
                    </li>
                    <li class="<%= 'current' if '/cf' == request.path_info %>">
                        <a href="/cf">穿越火线</a>
                    </li>
                    <li class="<%= 'current' if '/show' == request.path_info %>">
                        <a href="/show">娱乐音乐</a>
                    </li>
                    <li class="<%= 'current' if '/outdoor' == request.path_info %>">
                        <a href="/outdoor">户外直播</a>
                    </li>
                    <li class="<%= 'current' if '/lushi' == request.path_info %>">
                        <a href="/lushi">炉石传说</a>
                    </li>
                    <li class="<%= 'current' if '/shouwang' == request.path_info %>">
                        <a href="/shouwang">守望先锋</a>
                    </li>
                    <li class="<%= 'current' if '/wangzhe' == request.path_info %>">
                        <a href="/wangzhe">王者荣耀</a>
                    </li>
                    <li class="<%= 'current' if '/speed' == request.path_info %>">
                        <a href="/speed">QQ飞车</a>
                    </li>
                    <li class="<%= 'current' if '/csgo' == request.path_info %>">
                        <a href="/csgo">CS:GO</a>
                    </li>
                    <li class="<%= 'current' if '/chess' == request.path_info %>">
                        <a href="/chess">棋牌竞技</a>
                    </li>
                    <li class="<%= 'current' if '/ninja' == request.path_info %>">
                        <a href="/ninja">忍3</a>
                    </li>
                    <li class="<%= 'current' if '/movie' == request.path_info %>">
                        <a href="/movie">电影相关</a>
                    </li>
                </ul>
            </div>

            <%= yield %>

            <div class="paginate">
                <%= will_paginate @lives, class: 'apple_pagination', previous_label: '上一页', next_label: '下一页' %>
            </div>

        </div>
    </body>
</html>
<script type="text/javascript">
  $(function() {
    $("img.lazy").lazyload({effect: "fadeIn"});
  });

  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?4b006e61bc5e22d3766f545d7c873e71";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>
