<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="/index.css" rel="stylesheet" type="text/css" />
        <title>各直播平台汇总(斗鱼, 虎牙, 熊猫, 战旗)</title>
    </head>
    <body>
        <div class="wrap">
            <div class="head">
                <ul class="head-nav">
                    <li class="<%= 'current' if '/' == request.path_info %>">
                        <a href="/">英雄联盟</a>
                    </li>
                    <li class="<%= 'current' if '/hearthstone' == request.path_info %>">
                        <a href="/hearthstone">炉石传说</a>
                    </li>
                    <li class="<%= 'current' if '/cf' == request.path_info %>">
                        <a href="/cf">穿越火线</a>
                    </li>
                    <li class="<%= 'current' if '/overwatch' == request.path_info %>">
                        <a href="/overwatch">守望先锋</a>
                    </li>
                    <li class="<%= 'current' if '/kingglory' == request.path_info %>">
                        <a href="/kingglory">王者荣耀</a>
                    </li>
                    <li class="<%= 'current' if '/DOTA2' == request.path_info %>">
                        <a href="/DOTA2">DOTA2</a>
                    </li>
                    <li class="<%= 'current' if '/csgo' == request.path_info %>">
                        <a href="/csgo">CS:GO</a>
                    </li>
                </ul>
            </div>

            <%= yield %>

            <div class="paginate">
                <%= will_paginate @lives, class: 'apple_pagination', previous_label: '上一页', next_label: '下一页' %>
            </div>
        </div>
    </body>
</html>
