<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="keyword" content="直播,直播平台,直播汇总,直播平台汇总,直播平台整合">
        <meta name="description" content="多个直播平台整合,汇总">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
        <link href="/index.css" rel="stylesheet" type="text/css"/>
        <title>直播平台整合(斗鱼, 虎牙, 熊猫, 龙珠, 全民)</title>
    </head>
    <body>
        <div class="wrap">
            <div class="head">
                <ul class="head-nav">
                    <li class="<%= 'current' if '/' == request.path_info %>">
                        <a href="/">英雄联盟</a>
                    </li>
                    <li class="<%= 'current' if '/zjgame' == request.path_info %>">
                        <a href="/zjgame">主机游戏</a>
                    </li>
                    <li class="<%= 'current' if '/cf' == request.path_info %>">
                        <a href="/cf">穿越火线</a>
                    </li>
                    <li class="<%= 'current' if '/outdoor' == request.path_info %>">
                        <a href="/outdoor">户外直播</a>
                    </li>
                    <li class="<%= 'current' if '/hearthstone' == request.path_info %>">
                        <a href="/hearthstone">炉石传说</a>
                    </li>
                    <li class="<%= 'current' if '/overwatch' == request.path_info %>">
                        <a href="/overwatch">守望先锋</a>
                    </li>
                    <li class="<%= 'current' if '/kingglory' == request.path_info %>">
                        <a href="/kingglory">王者荣耀</a>
                    </li>
                    <li class="<%= 'current' if '/speed' == request.path_info %>">
                        <a href="/speed">QQ飞车</a>
                    </li>
                    <li class="<%= 'current' if '/csgo' == request.path_info %>">
                        <a href="/csgo">CS:GO</a>
                    </li>
                    <li class="<%= 'current' if '/chess' == request.path_info %>">
                        <a href="/chess">棋牌竞技</a>
                    </li>
                    <li class="<%= 'current' if '/movie' == request.path_info %>">
                        <a href="/movie">电影相关</a>
                    </li>
                </ul>
            </div>

            <%= yield %>

            <div class="paginate">
                <%= will_paginate @lives, class: 'apple_pagination', previous_label: '上一页', next_label: '下一页' %>
            </div>
        </div>
    </body>
</html>
